
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
}

.container {
    padding: 25px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;


    h4 {
     border:0 solid #fff;
     border-bottom-width:1px;
     padding-bottom:10px;
     text-align: center;
    }
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: -15px;


    &.active {
        background-color: #B8E986;
    }
}

.navbar.navbar-dpc {
    background-color: #32A8E2;
    border-color: transparent;
    border-top: 5px solid #23759E;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin-bottom: 10px;


    .navbar-brand {
        color: white !important;
    }
}

.mod-panel h2, h3, h4 {
    color: #4A90E2;
}

.results {
    margin-top: 25px;

    table {
        width: 100%;
        font-size: 14px;
    }

    tr {
        border-bottom: 1px solid #efefef;
    }

    td {
        padding: 10px 0;
    }

    .actions {
        vertical-align: bottom;
        text-align: right;
    }
}
